{% extends 'default/index.html.twig' %}

{% block content_header %}
    <h1>Modèle boutique</h1>
{% endblock %}

{% block content %}

    {% include 'tontineBundle:Modele:partials/item-details.html.twig' %}
    
    <a href="{{ path('tontine_modele_index') }}" class="btn btn-default" style="margin: 5px;">Retour</a>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {% javascripts '@tontineBundle/Resources/public/js/client.js' %}
        <script src='{{ asset_url }}'></script>
    {% endjavascripts %}
{% endblock %}
