<div id="fincontratModal">
      
      <div class="modal-body">
        {{ render(controller('tontineBundle:FinContrat:ajaxNewFinContratForm')) }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <button onclick="Enregistrerfincontrat()" type="button" class="btn btn-primary" data-dismiss="modal" >Valider</button>
      </div>
    </div>               
 