{# empty Twig template #}
{% extends 'default/index.html.twig' %}

{% block content_header %}
    <h1>Etats des transferts de fonds</h1>
{% endblock %}

{% block content %}
    {% if transfertFonds | length != 0 %}
        <div class='row'>
            <div class="col-md-12">
                <a href="{{path('tontine_etat_transfonds_print')}}?pf={% if(criteres.periode) %}{{criteres.periode.dateFin | date()}}{% endif %}&pd={% if(criteres.periode) %}{{criteres.periode.dateDebut | date()}}{% endif %}" class="btn pull-right btn-primary"><i class="fa fa-print"></i> Imprimer</a>
            </div>
        </div>
    {% endif %}
    {{ render(controller('tontineBundle:Etat:criteriatForm', {'criteres': ['periode'], 'action':'tontine_etat_transfert_fonds'})) }}
    {% include "tontineBundle:TransfertFonds:partials/index_content.html.twig"%}
    {% if transfertFonds | length == 0 %}
        <div>
            <h4 style="text-align: center; color: black">Aucun résultat à afficher</h4>
        </div>
    {% endif %}
{% endblock %}

