{% extends 'default/index.html.twig' %}

{% block content_header %}
    <h1>Contrat creation</h1>
{% endblock %}    

{% block content %}

    {% include 'tontineBundle:Contrat:partials/form.html.twig' with { submit: 'Modifier' } %}

{% endblock %}

