{% extends 'default/index.html.twig' %}

{% block content_header %}
    <h1>Contrat</h1>
{% endblock %}

{% block content %}

    {% include 'tontineBundle:Contrat:partials/item-details.html.twig' %}

<a href="{{ path('tontine_contrat_index') }}" class="btn btn-default" style="margin: 5px;">Retour</a>
        {{ form_start(delete_form, {attr: {class: "pull-right"}}) }}
            <input type="submit" value="Supprimer" class="btn btn-danger" style="margin: 5px;">
        {{ form_end(delete_form) }}
    <a href="{{ path('tontine_contrat_edit', { 'id': contrat.id }) }}" class="btn btn-success pull-right">Edit</a>{% endblock %}
