<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Liste des clients enrégistrés</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <style>
            .header { position: absolute; top: -7mm; margin-bottom: 5mm; }
           
            .logo { height: 20mm; margin-left: 20mm; }
            .header-content { margin-top: -10mm; margin-right: 10mm;margin-bottom: 10mm; margin-left: 30mm; font-size: 4mm; text-align: center }
            .pagenum:before { content: counter(page); }  

            .fiche-content { 
            	margin-top: 40mm;
            	text-align: center;
            	font-family: 'Times New Roman', serif;
            }
            
            table {
                width: 100%;
                border-collapse: collapse;
            }

            table, th, td {
                border: 1px solid black;                
            }
            th, td {
                padding: 3px;
                text-align: center;                
            }
        </style>
    </head>
    <body>
        <div class="footer">
                      
        </div>

        <div class="header">            
            <p class="header-content">
                <h2 style="text-align: center">Global Service Plus || APHEDD</h2>
            </p>
            <u><h3 style='width: 100%; text-align: center; font-weight: bold;'>{% block title %}{% endblock %}</h3></u>
            {% block description %}{% endblock %}            
        </div>  

        <div class="fiche-content">
            {% block content %}{% endblock %}
        </div>                          
    </body>
</html>