{% extends 'default/index.html.twig' %}

{% block content_header %}
    <h1> Enregistrement Demande De Resiliation Contrat </h1>
{% endblock %}

{% block content %}
    
    {% include 'tontineBundle:ResiliationContrat:partials/form.html.twig' with { submit: 'Valider' } %}

{% endblock %}
