<tr>    
                        
    <td>{{ modele.id }}</td>    
    
    <td>{{ modele.libelle }}</td> 

    <td>{{ modele.quantite }}</td> 

    <td>{% if modele.pagne %} {{ modele.pagne.reference }}{% endif %} </td>   

</tr>       
