{% extends 'default/index.html.twig' %}

{% block content_header %}
    <h1>Estimer une mise</h1>
{% endblock %}

{% block content %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Estimer une mise</h3>
        </div>
        <div class="box-body">
            <form method="get" id="estimate-mise-form">
                <div class="form-group">
                    <label class="control-label">Bien choisi</label>
                    <select name="bien" class="form-control select2">
                        <option value="">Sélectionnez le bien</option>
                        {% for bien in biens %}
                            <option value="{{ bien.code }}">{{ bien.code }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="mode" class="control-label">Mode de tontine</label>
                    <select name="mode" class="form-control" id="mode">
                        <option value="j">Journalier</option>
                        <option value="h">Hebdomandaire</option>
                        <option value="m">Mensuel</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="montant" class="control-label">Durée de la tontine</label>
                    <input type="number" name="duree" id="duree" value="1000" class="form-control" />
                </div>

                <div class="well well-sm collapse" id="mise-block">
                    <h3>
                        Mise: <span id="mise">1000</span> FCFA
                        <a href="#" class="btn btn-primary pull-right">Démarrer la tontine</a>
                    </h3>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Calculer la mise</button>
                </div>
            </form>            
        </div>
    </div>    

    {% include 'default/modal.html.twig' with { modalId: 'preview-modal' } %}
    {% include 'tontineBundle:Tontine:modals/new-modal.html.twig' %}
    {% include 'default/modal.html.twig' with { modalId: 'edit-modal' } %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            $('#estimate-mise-form').on('submit', function(event) {
                event.preventDefault();
                $.ajax({
                    url: '{{ path("tontines_do_calculate_mise") }}',
                    type: 'GET',
                    data: $(this).serialize(),
                    dataType: 'json'
                })
                .done(function(response) {
                    $('#mise').text(response.mise);
                    $('#mise-block').show();
                })
            });
        });
    </script>
{% endblock %}