{% extends 'default/index.html.twig' %}

{% block content_header %}
    <h1>Tontines list</h1>
{% endblock %}

{% block content %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Tontines list</h3>
        </div>
        <div class="box-body">
            {% include "tontineBundle:Tontine:partials/index_content.html.twig" %}  
        </div>
        <div class="box-footer">
        <a href="{{ path('tontine_tontines_new') }}" class="btn btn-primary">Créer nouveau tontine</a>        </div>
    </div>
{% endblock %}

