{% extends 'default/index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/tontine/css/Yop.css') }}">
    <style type="text/css">
        #user-list {
            border-right: 0;
        }
    </style>
{% endblock %}

{% block content_header %}
    <h1>Création de tontine</h1>
{% endblock %}

{% block content %}
    
    {% include 'tontineBundle:Tontine:partials/form.html.twig' with { submit: 'Valider' } %}

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            $('#tontinebundle_tontine_client').awesomeSelector();
            $('#tontinebundle_tontine_bien').on('change', function() {
                if ($(this).val()) {
                    $('#tontinebundle_tontine_montant').removeAttr('required').closest('.form-group').hide();
                } else {
                    $('#tontinebundle_tontine_montant').attr('required', true).closest('.form-group').show();
                }
            })
        })
    </script>
{% endblock %}
