<div class="box box-primary" id="newCondition">
    <div class="box-header with-border">
    </div>
    <div class="box-body">            
        {{ render(controller('tontineBundle:ConditionGenerale:ajaxNewForm'), {'idc': idc}) }}
    </div>
    <div class="box-footer">        
       <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <button id="condi" onclick="envoyerCondition({{idc}})" type="button" class="btn btn-primary" >Valider</button>
    </div>
</div> 