{% extends 'default/index.html.twig' %}

{% block title %}Dépot de mise{% endblock %}

{% block content_header %}
    <h1>Depotmise creation</h1>
{% endblock %}

{% block content %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Dépot de mise</h3>
        </div>
        <div class="box-body">
            {% include 'tontineBundle:DepotMise:partials/form.html.twig' with { submit: 'Valider' } %}
        </div>
    </div>    

{% endblock %}
