<tr>    
                        
    <td>{{ nomodele.id }}</td>    
    
    <td>{{ nomodele.libelle }}</td> 

    <td>{{ nomodele.quantite }}</td>

    <td>{{ nomodele.prixAchat }}</td>   

</tr>       
