<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Observation</th>
            <th>Code Contrat</th>
            <th>Nom et Prenoms Client</th>
            <th>Agent </th>
            <th>Date de retrait</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for finContrat in finContrats %}        
        {% include "tontineBundle:FinContrat:partials/item.html.twig" %}
    {% endfor %}
    </tbody>
</table>