{% extends 'default/index.html.twig' %}

{% block content_header %}
    <h1>Fincontrat creation</h1>
{% endblock %}

{% block content %}
    
    {% include 'tontineBundle:FinContrat:partials/form.html.twig' with { submit: 'Valider' } %}

{% endblock %}
