{% extends 'default/index.html.twig' %}

{% block content_header %}
    <h1>Nouvelle commande</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 well">
            {% include 'tontineBundle:commande/partials:form.html.twig' with { submit: 'Valider' } %}
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#profile-img-tag').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $(".fselect").change(function () {
            readURL(this);
        });
        $("#profile-img-tag").on('click', function () {
            $(".fselect").click();
        });

        var $option = $('#tontinebundle_commande_typeCommande').find('option:selected');
        if($option.val() == 'v')
        {
            $('#pagne').removeClass('hidden');
            $('#modele').addClass('hidden');
            $('#nomodele').addClass('hidden');
        }
        else if ($option.val() == 'm')
        {
            $('#pagne').addClass('hidden');
            $('#modele').addClass('hidden');
            $('#nomodele').addClass('hidden');
        }
        else if ($option.val() == 'a')
        {
            $('#pagne').addClass('hidden');
            $('#modele').removeClass('hidden');
            $('#nomodele').addClass('hidden');
        }
        else if ($option.val() == 'o')
        {
            $('#pagne').addClass('hidden');
            $('#nomodele').removeClass('hidden');
            $('#modele').addClass('hidden');
        }
        else
        {
            $('#pagne').addClass('hidden');
            $('#modele').addClass('hidden');
            $('#nomodele').addClass('hidden');
        }

        $('#tontinebundle_commande_typeCommande').change(function () {
            $option = $(this).find('option:selected');
            if($option.val() == 'v')
            {
                $('#pagne').removeClass('hidden');
                $('#modele').addClass('hidden');
                $('#nomodele').addClass('hidden');
            }
            else if ($option.val() == 'm')
            {
                $('#pagne').addClass('hidden');
                $('#modele').addClass('hidden');
                $('#nomodele').addClass('hidden');
            }
            else if ($option.val() == 'a')
            {
                $('#pagne').addClass('hidden');
                $('#modele').removeClass('hidden');
                $('#nomodele').addClass('hidden');
            }
            else if ($option.val() == 'o')
            {
                $('#pagne').addClass('hidden');
                $('#nomodele').removeClass('hidden');
                $('#modele').addClass('hidden');
            }
            else
            {
                $('#pagne').addClass('hidden');
                $('#modele').addClass('hidden');
                $('#nomodele').addClass('hidden');
            }
//            alert($option.val());
        });
    </script>
{% endblock %}