{% extends 'default/index.html.twig' %}

{% block content_header %}
    <h1>Modification de condition générale</h1>
    <h3 style="background-color: white">Client: <i>{{conditionGenerale.client.prenom}} {{conditionGenerale.client.nom | upper}}</i></h3>
{% endblock %}    

{% block content %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 well">
            {% include 'tontineBundle:ConditionGenerale:partials/form.html.twig' with { submit: 'Modifier' } %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {% javascripts '@tontineBundle/Resources/public/js/conditiongenerale.js' %}
        <script src='{{ asset_url }}'></script>
    {% endjavascripts %}
{% endblock %}

