{% extends 'default/index.html.twig' %}

{% block content_header %}
    <h1>Conditiongenerales list</h1>
{% endblock %}

{% block content %}
    {% include "tontineBundle:ConditionGenerale:partials/index_content.html.twig" %}

    <ul>
        <li>
            <a href="{{ path('tontine_conditiongenerale_new') }}" class = "conditiongenerale_new">Create a new conditionGenerale</a>
        </li>
    </ul>
    {% include 'default/modal.html.twig' with { modalId: 'preview-modal' } %}
    {% include 'tontineBundle:ConditionGenerale:modals/new-modal.html.twig' %}
    {% include 'default/modal.html.twig' with { modalId: 'edit-modal' } %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% javascripts '@tontineBundle/Resources/public/js/conditiongenerale.js' %}
        <script src='{{ asset_url }}'></script>
    {% endjavascripts %}
{% endblock %}

