{% extends 'default/index.html.twig' %}

{% block content_header %}
    <h1>Condition Générale</h1>
    <h3 style="background-color: white">Client: <i>{{conditionGenerale.client.prenom}} {{conditionGenerale.client.nom | upper}}</i></h3>
{% endblock %}

{% block content %}

    {% include 'tontineBundle:ConditionGenerale:partials/item-details.html.twig' %}

<a href="{{ path('tontine_client_index') }}" class="btn btn-default" style="margin: 5px;">Retour</a>
<a href="{{ path('tontine_conditiongenerale_edit', { 'id': conditionGenerale.id }) }}" class="btn btn-success pull-right">Edit</a>{% endblock %}
