<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Client</th>
            <th>Mode</th>
            <th>Mise</th>
            <th>Durée</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for tontine in tontines %}        
        {% include "tontineBundle:Tontine:partials/item.html.twig" %}
    {% endfor %}
    </tbody>
</table>