<table class="table table-striped table-bordered">
    <tbody>
        <tr>
            <th>Client</th>
            <td>{% if tontine.client %}{{ tontine.client.name }}{% endif %}</td>
        </tr>
        <tr>
            <th>Mode</th>
            <td>{{ tontine.mode.libelle }}</td>
        </tr>                                                        
        <tr>
            <th>Mise</th>
            <td>{{ tontine.montant }}</td>            
        </tr>    
                                                
        <tr>
            <th>Durée</th>
            <td>{{ tontine.duree }}</td>            
        </tr>    
    </tbody>
</table>