<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Date de céation</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Contact</th>
            <th>Adresse</th>
        </tr>
    </thead>
    <tbody>
    {% for client in clients %}        
        {% include "tontineBundle:Client:partials/item.html.twig" %}
    {% endfor %}
    </tbody>
</table>