{% extends 'default/index.html.twig' %}

{% block content_header %}
    <h1>Transfertcommission creation</h1>
{% endblock %}

{% block content %}
    
    {% include 'tontineBundle:TransfertCommissions:partials/form.html.twig' with { submit: 'Valider' } %}

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            $('#tontinebundle_transfertcommissions_pieceFile').closest('.form-group').hide();

            $('#trasnfer-commission-form').on('submit', function(event) {
                var $btnSubmit = $(this).find('#btn-submit');
                if ($btnSubmit.hasClass('ajax')) {
                    event.preventDefault();
                    $btnSubmit.prepend('<i class="fa fa-spin fa-spinner"> </i>');
                    $btnSubmit.attr('disabled', true);
                } else if ($('#tontinebundle_transfertcommissions_pieceFile').val() == '') {
                    event.preventDefault();
                    alert('Veuillez joindre la piece justificative');
                    return;
                }

                $.ajax({
                    url: '{{ path("tontine_transfertcommissions_estimate_amount") }}',
                    type: 'GET',
                    data: {transfer: $(this).find('#tontinebundle_transfertcommissions_transfertfonds').val()},
                    dataType: 'json'
                })
                .done(function(response){
                    console.log(response);
                    $btnSubmit.removeClass('ajax');
                    $btnSubmit.attr('disabled', false);
                    $btnSubmit.text('Valider le transfert');
                    $('#tontinebundle_transfertcommissions_montant').val(response.amount);
                    $('#tontinebundle_transfertcommissions_pieceFile').closest('.form-group').fadeIn();
                    $('#amount').text(response.amount + ' FCFA');
                    $('#amount-block').fadeIn();
                })
                .fail(function (error) {
                    console.log(error.responseText);
                    $btnSubmit.text('Valider');
                    $btnSubmit.attr('disabled', false);
                })
            })
        })
    </script>
{% endblock %}