
    <div id="contratModal">
      
      <div class="modal-body">
        {{ render(controller('tontineBundle:Contrat:ajaxNewContratForm')) }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <button id="btn-submit" type="button" class="btn btn-primary" data-dismiss="modal">Valider</button>
      </div>
    </div>
 