#yop-popin {
    background: rgba(60, 141, 188, 0.3);
}

    #yop-popin .modal-content {
        border-radius: 4px;
    }

    #yop-popin .modal-header {
        border-radius: 4px 4px 0 0;
        background: rgb(60, 141, 188);
        color: #ffffff;
    }

        #yop-popin .modal-header .close {
            color: #ffffff;
            opacity: 0.7;
        }

.yop-app {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

    .yop-pagelet {
        position: relative;
        height: 100%;
    }

    .pane {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

        .pane-body {
            overflow: auto;
        }

    .yop-app.two-pane .pane-one {
        width: 30%;
    }

    .yop-app.two-pane .pane-two {
        width: 70%;
    }

#yop-loading {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

    #yop-loading .spinner-container {    
        -webkit-animation: rotate 2s linear infinite;
        -moz-animation: rotate 2s linear infinite;
                animation: rotate 2s linear infinite;
    }

        #yop-loading .spinner-container .path {
            stroke-dasharray: 1,150; /* 1%, 101% circumference */
            stroke-dashoffset: 0;
            stroke: rgba(60, 141, 188, 1);
            stroke-linecap: round;
            animation: dash 1.5s ease-in-out infinite;
            -webkit-animation: dash 1.5s ease-in-out infinite;
            -moz-animation: dash 1.5s ease-in-out infinite;
        }
    
    @keyframes rotate {
          100% { transform: rotate(360deg); }
    }

    @keyframes dash {
        0% {
            stroke-dasharray: 1,150;  /* 1%, 101% circumference */
            stroke-dashoffset: 0;
        }
        50% {
            stroke-dasharray: 90,150; /* 70%, 101% circumference */
            stroke-dashoffset: -35;   /* 25% circumference */
        }
        100% {
            stroke-dasharray: 90,150; /* 70%, 101% circumference */
            stroke-dashoffset: -124;  /* -99% circumference */
        }
    }

    @-webkit-keyframes rotate{
        100% { transform: rotate(360deg); }
    }

    @-webkit-keyframes dash {
        0% {
            stroke-dasharray: 1,150;  /* 1%, 101% circumference */
            stroke-dashoffset: 0;
        }
        50% {
            stroke-dasharray: 90,150; /* 70%, 101% circumference */
            stroke-dashoffset: -35;   /* 25% circumference */
        }
        100% {
            stroke-dasharray: 90,150; /* 70%, 101% circumference */
            stroke-dashoffset: -124;  /* -99% circumference */
        }
    }

    @-moz-keyframes rotate{
        100% { transform: rotate(360deg); }
    }

    @-moz-keyframes dash {
        0% {
            stroke-dasharray: 1,150;  /* 1%, 101% circumference */
            stroke-dashoffset: 0;
        }
        50% {
            stroke-dasharray: 90,150; /* 70%, 101% circumference */
            stroke-dashoffset: -35;   /* 25% circumference */
        }
        100% {
            stroke-dasharray: 90,150; /* 70%, 101% circumference */
            stroke-dashoffset: -124;  /* -99% circumference */
        }
    }

#user-list {
    background: #ffffff;
    border-right: 1px solid gray;
}

    #user-list .pane-header {
        padding: 8px;
        background: #ecf0f5;
        border-bottom: 1px solid gray;
    }

    #user-list .list-item {
        position: relative;
        display: flex;
        padding: 10px;
        border-bottom: 1px solid gray;
        cursor: pointer;
    }

        #user-list .list-item.active {
            background: #ecf0f5;
        }

        #user-list .list-item:hover {
            background: #ecf0f5;
        }

    #user-list .user-photo img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
    }

    #user-list .user-description {
        margin-left: 10px;
    }

        #user-list .user-name {
            margin-bottom: 5px;
            font-weight: 600;
            font-size: 1.2em;    
        }


.bien-selector-item {
    padding: 5px;
    background: #ffffff;
    border-bottom: 1px solid black;
}

.bien-selector-item:hover {
    background: #ecf0f5;
}

.bien-selector-item p {
    margin: 0;
}

/*catiger*/

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.0; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.0; }
    to { opacity: 1.0; }
}
 
.yop-blink {
    animation:fade 1500ms infinite;
    -webkit-animation:fade 1500ms infinite;
}