{% extends ":default:index.html.twig" %}

{% block content %}
    <h3>Modification du tissu</h3>
    {% include 'tontineBundle:Pagne:partials/form.html.twig' 
        with { 
                form: form,
                action: path('tontine_pagne_update', {'id':pagne.id}),
                submit: "Appliquer"
            } 
    %}
{% endblock %}
