<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Date D'enrégistrement</th>
            <th>Date de disponibilité</th>
            <th>Moyen de déplacement</th>
            <th>Etat</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for visite in visites %}        
        {% include "tontineBundle:Visite:partials/item.html.twig" %}
    {% endfor %}
    </tbody>
</table>