<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for conditionGenerale in conditionGenerales %}        
        {% include "tontineBundle:ConditionGenerale:partials/item.html.twig" %}
    {% endfor %}
    </tbody>
</table>