<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Agent transfert fonds</th>
            <th>Montant commission</th>
            <th>Date transfert commission</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for transfertCommission in transfertCommissions %}        
        {% include "tontineBundle:TransfertCommissions:partials/item.html.twig" %}
    {% endfor %}
    </tbody>
</table>