<table class="table table-striped table-bordered">
    <tbody>    
                                                
        <tr>
            <th>Agent Transfert Fonds</th>
            <td>{% if transfertCommission.createdBy %}{{ transfertCommission.createdBy.name }}{% endif %}</td>          
        </tr>    
                                                
        <tr>
            <th>Montant Commission</th>
            <td>{{ transfertCommission.montant }}</td>            
        </tr>    
                                                
        <tr>
            <th>Date Transfert Commission</th>    
            <td>{% if transfertCommission.createdAt %}{{ transfertCommission.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>            
        </tr>    
    </tbody>
</table>