<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Type motif</th>
            <th>Date demande</th>
            <th>Details du motif</th>
            <th>Etat</th>
            
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for resiliationContrat in resiliationContrats %}        
        {% include "tontineBundle:ResiliationContrat:partials/item.html.twig" %}
    {% endfor %}
    </tbody>
</table>